services:
  web:
    image: ghcr.io/NathanGrenier/soen-422:latest
    container_name: iot-smart-bin-web
    restart: unless-stopped
    env_file:
      - .env.production
    volumes:
      - ./db:/app/db
    networks:
      - app_network
    ports:
      - "3000:3000"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    command:
      - "--label-enable"
      - "--interval"
      - "120"
      - "--rolling-restart"
      - "--cleanup"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/home/nathan/.docker/config.json:/config.json"
    labels:
      - "com.centurylinklabs.watchtower.enable=false"

networks:
  app_network:
    driver: bridge