#pragma once

// Device
#define BIN_ID "BIN-001"
#define BIN_HEIGHT 100

// WiFi
#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"

// --- Development Environment (Unsecured MQTT) ---
// Use your host machine's IP address, not localhost
#define MQTT_BROKER_URL "192.168.2.101"
#define MQTT_BROKER_PORT 1883
#define MQTT_USERNAME "iot-smart-bin"
#define MQTT_PASSWORD "dev"