#pragma once

// WiFi
#define WIFI_SSID ""
#define WIFI_PASSWORD ""

// Web
#define WEB_URL "http://localhost:3000/api"

// MQTT
#define MQTT_BROKER_URL "ws://localhost"
#define MQTT_BROKER_PORT "9001"
#define MQTT_USERNAME "iot-smart-bin"
#define MQTT_PASSWORD "dev"