#pragma once

// WiFi
#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"

// --- Development Environment (Unsecured MQTT) ---
// Use your host machine's IP address, not localhost
#define MQTT_DEV_BROKER_URL "192.168.2.101"
#define MQTT_DEV_BROKER_PORT 1883
#define MQTT_DEV_USERNAME "iot-smart-bin"
#define MQTT_DEV_PASSWORD "dev"